*:root {
  --color-blue: #12aaa3;
  --color-coral: #f16f4e;
}
body {
  max-width: 700px;
  margin-inline: auto;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  color: white;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: url("./../assets/tic-tac-toe-board.svg");
}
.cell {
  aspect-ratio: 1;
  position: relative;
}
main img {
  position: absolute;
}
